.main
  .header
    .left-header
      .left-header__box
        .left-header__box__title
          = @book.name
    .right-header
      .right-header__user
        = current_user.name
      .right-header__user-btn
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: 'icon')
  .menu
    .new-word
      = link_to new_book_word_path(@book) do
        = icon('fa', 'leaf',class: 'icon')
        単語登録

    .form
      = search_form_for [@book,@q] do |f|
        = f.search_field :name_cont,placeholder: "単語を検索する", class: "box"
        = icon('fa', 'search',class: 'search-icon')
        = f.submit "検索", class: "btn"
        

  .words
    = render 'layouts/notifications'
    %ul.word
      = render @words