.main
  .header
    .left-header
      .left-header__title
        = @book.name
    .right-header
      .right-header__user
        = current_user.name
      .right-header__user-btn
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog',class: 'icon')
  .menu
    .new-word
      = link_to new_book_word_path(@book) do
        = icon('fa', 'leaf',class: 'icon')
        単語登録

    .form
      = form_with(url: search_book_words_path(@book), local: true, method: :get) do |form|
        = form.text_field :name, placeholder: "単語を検索する", class: "box"
        = form.submit "検索", class: "btn"

  .words
    .word
      = render @words